/* ROOT */
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    height: 40px;
}

.nav-section {}

nav {
    align-items: center;

}

.gamer-and-frame {
    display: flex;

}

.gamer-and-frame img {
    width: 86.041px;
    height: 40px;
    padding-top: 53px;
    padding-right: 20px;
}

.gamer-title {
    color: black;
    font-size: 45px;
    font-weight: 700;

}

.gamer-title-g {
    color: #FF42A5;
}

.youtube-png {
    width: 33.916px;
    height: 30px;
    flex-shrink: 0;
}

.tiktok-png {

    width: 24px;
    height: 24px;
    flex-shrink: 0;
}



.main-menu ul {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    


}

nav li {
    justify-content: center;
    display: flex;
    list-style: none;
    display: inline;
    margin-right: 15px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-text {
    padding-bottom: 10px;
}

.nav-list-button {
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    flex-shrink: 0;
    border: 2px solid black;


}

nav li a {
    text-decoration: none;
    color: #424242;

}


/* Main Section starts */
.banner-section {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

.Play-like-the {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    padding-left: 25px;

}

.G-O-A-T {
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}



.goat-list-section1 li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.goat-buttons {
    display: inline-flex;
    padding: 21px;
    align-items: flex-start;
    gap: 10px;
    color: #FFFFFF;

}

.sign-in {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.Go-Rogue {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
}

/* we are gamer */
.gaming-headline {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
}

.we-are-gamer {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.gaming-description {
    width: 520px;
    color: #534C64;
    text-align: right;

    font-size: 18px;

    font-weight: 400;
}

.know-more-btn {
    display: inline-flex;
    align-items:flex-end;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    color: white;
    margin-left: 350px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.gamer-caption{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
}
/* end */

.banner-section {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.banner-child2 img {
    width: 711px;
    height: 650px;
}

.banner-child {
    padding-top: 100px;

}

.image-Container li {
    list-style: none;
}

.image-Container ul {
    display: flex;
    justify-content: space-evenly;


}

.img-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    width: 342px;




}

.onlien-games-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;

}

.Funny-Videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.funny-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 60px;
}

/* Play section */

.play-title {
    .text-align: right;
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    width: 353px;
    text-align: right;
    margin-top: 200px;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play-description {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.play-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 750px;
}

.instant-section2 img {
    display: flex;

}

.picture-2 {
    position: relative;
    bottom: 300px;
    right: 145;
    height: 90%;
    margin-left: -140px;
}

.catagory-section {
    align-items: center;

    height: 350px;

    background: linear-gradient(90deg, rgba(165, 164, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.catagory-section li {
    list-style: none;
    width: 241px;
    height: 80px;
    border-radius: 50px;
    padding-left: 15px;
    margin-top: 50px;
    /* position: relative; */
    right: 20px;
    background: white;
    align-items: center;

    display: flex;
    /* flex-wrap: wrap; */


}

.catagory-section li:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #FF42A5;
}

.catagory-section ul {
    /* align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    /* margin-left: 100; */

}

.catagory-section li a {
    text-decoration: none;
    color: black;
}

/* footer section */
.footer-section {
    background: #0B0223;
    height: 636px;

}

.footer-section-heading {
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.footer-section-heading img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.footer-gamer {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-list ul {
    display: flex;
    justify-content: center;
    gap: 60px;

}

.footer-list ul li {
    list-style: none;
    color: white;
}

.footer-list ul li a {
    text-decoration: none;
    color: white;
}

.footer-social-links ul {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.footer-social-links ul li {
    padding-top: 30px;
}

.terms-cookie-privacy ul {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.terms-cookie-privacy ul li {
    padding-top: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
}

.terms-cookie-privacy ul li a {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

.footer-description {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;

}